<!DOCTYPE html>
<html>
<head>
	<title>Marleh's Restaurant</title>

	<!-- Materialize Library -->
	<link rel="stylesheet" type="text/css" href="../global-assets/libs/materialize/css/materialize.min.css" />

	<!-- Materialize Icons -->
	<link rel="stylesheet" type="text/css" href="../global-assets/css/materialize-icons.css" />

	<!-- General/Overall CSS -->
	<link rel="stylesheet" type="text/css" href="../global-assets/css/general.css" />

	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="assets/css/style.css" />

	<!-- Angular Library -->
	<script type="text/javascript" src="../global-assets/libs/angular/angular.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="myController">
	<site-header></site-header>

	<div class="container tables" >
		<div class="row">
			<div class="search-table">
				<span class="search-table-text"><i class="material-icons">search</i>Table Capacity</span>
				<input type="text" ng-model="tableCapacity" ng-change="preventNonNumbers()" class="browser-default validate search-table-input" />
			</div>
		</div>
		<div class="row">
			<div class="col s3" ng-repeat="table in tables | filter:{capacity:tableCapacity}">
				<div class="card table-card" ng-if="table.status == 'Vacant'">
			        <div class="card-content">
		          		<h1 class="table-number">{{ table.tableNumber }}</h1>
		          		<p class="table-capacity">{{ table.capacity }} persons</p>
			        </div>
		      	</div>
		      	<div class="card table-card occupied" ng-if="table.status == 'Occupied'">
			        <div class="card-content">
		          		<h1 class="table-number">{{ table.tableNumber }}</h1>
		          		<p class="table-capacity">{{ table.capacity }} persons</p>
			        </div>
		      	</div>
			</div>
		</div>
	</div>

	<!-- JQuery Library -->
	<script type="text/javascript" src="../global-assets/libs/jquery/jquery-3.2.1.min.js"></script>

	<!-- Materialize Library -->
	<script type="text/javascript" src="../global-assets/libs/materialize/js/materialize.min.js"></script>

	<!-- Angular Application -->
	<script type="text/javascript" src="app/app.module.js"></script>

	<!-- Site Header Directive -->
	<script type="text/javascript" src="../global-shared/header/headerDirective.js"></script>
</body>
</html>