/********************
* GENERAL
********************/
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
	font-family: 'Roboto-Bold';
	src: url('../fonts/Roboto-Bold.ttf');
}

body {
	background-color: #f0f0f0;
	color: rgba(0, 0, 0, .87);
	font-weight: 300;
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 27px;
}

.error-message{
	font-size: 15px;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.container {
	width: 97%;
}

.normal-box {
	box-shadow: 0 0 1px rgba(0,0,0,.15);
	background-color: #fff;
	padding: 16px;
}
/********************
* HEADER
********************/
.site-header{
	background-color: white;
	line-height: 64px;
	padding-left: 15px;
	padding-right: 15px;
	box-shadow: 0 2px 2px rgba(0,0,0,.03), 0 1px 0 rgba(0,0,0,.03);
}

.site-logo {
	width: 120px;
	position: relative;
	top: 13px;
}

.site-time {
	margin: 0;
}

/********************
* INPUT TEXT
********************/
input:not([type]):focus:not([readonly]), 
input[type=text]:not(.browser-default):focus:not([readonly]), 
input[type=password]:not(.browser-default):focus:not([readonly]), 
input[type=email]:not(.browser-default):focus:not([readonly]), 
input[type=url]:not(.browser-default):focus:not([readonly]), 
input[type=time]:not(.browser-default):focus:not([readonly]), 
input[type=date]:not(.browser-default):focus:not([readonly]), 
input[type=datetime]:not(.browser-default):focus:not([readonly]), 
input[type=datetime-local]:not(.browser-default):focus:not([readonly]), 
input[type=tel]:not(.browser-default):focus:not([readonly]), 
input[type=number]:not(.browser-default):focus:not([readonly]), 
input[type=search]:not(.browser-default):focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #e65100;
    -webkit-box-shadow: 0 1px 0 0 #e65100;
    box-shadow: 0 1px 0 0 #e65100;
}

input:not([type]):focus:not([readonly])+label, 
input[type=text]:not(.browser-default):focus:not([readonly])+label, 
input[type=password]:not(.browser-default):focus:not([readonly])+label, 
input[type=email]:not(.browser-default):focus:not([readonly])+label, 
input[type=url]:not(.browser-default):focus:not([readonly])+label, 
input[type=time]:not(.browser-default):focus:not([readonly])+label, 
input[type=date]:not(.browser-default):focus:not([readonly])+label, 
input[type=datetime]:not(.browser-default):focus:not([readonly])+label, 
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, 
input[type=tel]:not(.browser-default):focus:not([readonly])+label, 
input[type=number]:not(.browser-default):focus:not([readonly])+label, 
input[type=search]:not(.browser-default):focus:not([readonly])+label, 
textarea.materialize-textarea:focus:not([readonly])+label {
	color: #e65100;
}

.card {
	box-shadow: 0 0 1px rgba(0,0,0,.15);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,.15);
}

.btn-floating {
	position: fixed !important;
}