<div class="page-title">
	<h5>{{ pageTitle }}</h5>
</div>

<div class="container">
	<div class="row">
		<div class="col s3">
			<div class="normal-box search-box">
				<p class="box-title">Search Menu Item</p>
				<div class="input-field">
	          		<input id="itemName" name="itemName" type="text" ng-model="itemName">
	          		<label for="itemName">Item Name</label>
		        </div>
		        <p>
		        	<input name="availability" type="radio" id="all" ng-model="availability" value="All">
		        	<label for="all">All</label>
		        </p>
		        <p>
		        	<input name="availability" type="radio" id="available" ng-model="availability" value="Available">
		        	<label for="available">Available</label>
		        </p>
		        <p>
		        	<input name="availability" type="radio" id="unavailable" ng-model="availability" value="Unavailable">
		        	<label for="unavailable">Unavailable</label>
		        </p>
			</div>
		</div>
		<div class="col s9">
			<div class="normal-box">
				<table class="bordered menu-items-table">
			    	<thead>
			      		<tr>
			          		<th>ID</th>
			          		<th>Item Name</th>
			          		<th>Number of Servings</th>
			          		<th>Item Price</th>
			          		<th>Status</th>
			          		<th>Actions</th>
			      		</tr>
			    	</thead>
				    <tbody>
				    	<tr ng-repeat="menuItem in menuItems | filter:filterData">
				    		<td>{{ menuItem.id }}</td>
				    		<td>
				    			<span ng-show="mode != 'edit'">{{ menuItem.itemName }}</span>
				    			<input ng-show="mode == 'edit'" ng-model="menuItem.itemName" class="browser-default" type="text" />
				    		</td>
				    		<td>
				    			<span ng-show="mode != 'edit'">{{ menuItem.numberOfServings }}</span>
				    			<input ng-show="mode == 'edit'" ng-model="menuItem.numberOfServings" class="browser-default" type="text" />
				    		</td>
				    		<td>
				    			<span ng-show="mode != 'edit'">{{ (menuItem.itemPrice | currency : "₱") }}</span>
				    			<input ng-show="mode == 'edit'" ng-model="menuItem.itemPrice" class="browser-default" type="text" />
				    		</td>
				    		<td class="item-available" ng-if="menuItem.availability=='Available'"><span class="new badge" data-badge-caption="{{ menuItem.availability }}"></span></td>
				    		<td class="item-unavailable" ng-if="menuItem.availability=='Unavailable'"><span class="new badge" data-badge-caption="{{ menuItem.availability }}"></span></td>
				    		<td class="item-icons">
				    			<span ng-show="mode != 'edit'">
				    				<a href="" ng-click="editItem(this)" class="edit" ><i class="material-icons">edit</i></a>
				    			</span>
				    			<span ng-show="mode == 'edit'">
				    				<a href="" ng-click="saveItem(this)" class="edit"><i class="material-icons">save</i></a>
				    			</span>
								<a href="" ng-click="deleteItem($index, this)" ng-disabled="anOrderAssociated()" class="delete"><i class="material-icons">delete</i></a>
				    		</td>
				    	</tr>
				    </tbody>
			  	</table>
			</div>
		</div>
	</div>
</div>

<a class="btn-floating btn-large waves-effect waves-light orange darken-4 modal-trigger" data-target="addItem">
	<i class="material-icons">add</i>
</a>

<!-- Modal Structure -->
<div id="addItem" class="modal">
	<form id="addItemForm" name="addItemForm">
		<div class="modal-content">
			<h4>Add Menu Item</h4>
			<p>Fill out the fields below with the information of the new menu item.</p>
			
			<div class="row">
				<div class="col s6">
					<div class="input-field">
			  			<input id="itemName" type="text" ng-model="newItemName" name="newItemName" ng-pattern="/^.{1,30}$/" required>
			      		<label for="itemName">Item Name</label>
			      		<span class="red-text error-message" ng-show="addItemForm.newItemName.$error.pattern">1 - 30 Characters only</span>
					</div>
					<div class="input-field">
			  			<input id="numberOfServings" type="number" ng-model="newNumberOfServings" ng-pattern="/^[0-9]+$/" name="newNumberOfServings" required>
			      		<label for="numberOfServings">Number of Servings</label>
			      		<span class="red-text error-message" ng-show="addItemForm.newNumberOfServings.$error.pattern">Must be a positive number or 0</span>
					</div>
					<div class="input-field">
			  			<input id="itemPrice" type="text" ng-model="newItemPrice" ng-change="newItemPrice = preventNonNumbers(newItemPrice)" ng-pattern="/^[0-9]+.?[0-9]{0,2}$/" name="newItemPrice" required>
			      		<label for="itemPrice">Item Price</label>
			      		<span class="red-text error-message" ng-show="addItemForm.newItemPrice.$error.pattern">Must not exceed 2 decimal places</span>
					</div>
				</div>
				<div class="col s6">
					<p class="add-item-image"><img src="assets/img/popcorn.png"/></p>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a class="waves-effect waves-light btn orange darken-4" type="button" ng-click="createMenuItem()" ng-disabled="!addItemForm.newItemName.$valid || !addItemForm.newNumberOfServings.$valid || !addItemForm.newItemPrice.$valid">Create</a>
		</div>
	</form>
</div>