.btn-floating {
	position: absolute;
	right: 35px;
	bottom: 35px;
}

.sidebar {
	width: 15%;
	float: left;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: #2e3e4e;
	padding-left: 15px;
	padding-right: 15px;
	color: rgba(255, 255, 255, 0.87);
	font-size: 13px;
}

.sidebar .label {
	margin-bottom: 0;
	font-weight: 500;
}

.main-content {
	width: 85%;
	margin-left: 15%;
}

.sidebar .site-logo {
	text-align: center;
	width: 100%;
	margin-bottom: 0;
}

.sidebar .site-logo img {
	width: 100%;
}

.sidebar .menu-items {
	margin-left: -15px;
	margin-right: -15px;
}

.sidebar .menu-items a {
	color: rgba(255, 255, 255, 0.6);
}

.sidebar .icon {
	position: relative;
	top: 6px;
	margin-right: 10px;
	color: #2bbbad;
}

.sidebar .single-item {
	display: block;
	width: 100%;
	padding: 5px 15px;
}

.sidebar .single-item:hover {
	background-color: rgba(0, 0, 0, .065);
	color: #fff;
}

.sidebar .single-item.active {
	background-color: rgba(0, 0, 0, .065);
	color: #fff;
}

.sidebar .single-item.logout {
	position: absolute;
	bottom: 0;
}

.page-title {
	background-color: #fff;
	padding: 3px 20px;
	box-shadow: 0 2px 2px rgba(0,0,0,.03), 0 1px 0 rgba(0,0,0,.03);
	margin-bottom: 20px;
}

.page-title h4 {
	margin: 0;
}

.search-box .box-title {
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 20px;
}

.menu-items-table td,
.menu-items-table th {
	text-align: center;
}

.item-icons a {
	color: #2bbbad;
}

.item-icons a.edit {
	margin-right: 5px;
}

.item-available span {
	background-color: #6cc788 !important;
	float: none !important;
	padding: 5px 8px !important;
}

.item-unavailable span {
	background-color: #f77a99 !important;
	float: none !important;
	padding: 5px 8px !important;
}

a[ng-click]{
    cursor: pointer;
}

.add-item-image,
.add-table-image {
	text-align: center;
}

.add-item-image img {
	width: 200px;
}

.order-paid span {
	background-color: #6cc788 !important;
	float: none !important;
	padding: 5px 8px !important;
}

.order-unpaid span {
	background-color: #f9a825 !important;
	float: none !important;
	padding: 5px 8px !important;
}

.order-cancelled span {
	background-color: #f77a99 !important;
	float: none !important;
	padding: 5px 8px !important;
}

.order-icon a,
.order-action a {
	color: #2bbbad;
}

#orderMenuItems .modal-footer {
	padding-right: 80px;
    margin-bottom: 10px;
}

#orderMenuItems .order-total {
	color: #e65100;
}

.menu-items-list {
	text-align: center;
}

.table-vacant span{
	background-color: #6cc788 !important;
	float: none !important;
	padding: 5px 8px !important;
}

.table-occupied span {
	background-color: #f77a99 !important;
	float: none !important;
	padding: 5px 8px !important;
}

.success-label {
	margin: 0;
}

.success-label span {
	color: #6cc788 !important;	
}

.close-add-success {
	cursor: pointer;
}