.tables {
	margin-top: 30px;
	height: 80vh;
}

.table-number,
.table-capacity {
	text-align: center;
}

.table-number {
	margin-top: 0;
	margin-bottom: 0;
}

.table-capacity {
	color: #2bbbad !important;
}

.table-card {
	margin-left: 20px;
	margin-right: 20px;
}

.occupied {
	opacity: 0.1;
}

.search-table {
	border-radius: 2px;
	margin-bottom: 30px;
	text-align: center;
	background-color: #fff;
	width: 400px;
	margin: 0 auto;
	padding: 20px 0;
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,.15);
    box-shadow: 0 0 1px rgba(0,0,0,.15);
}

.search-table-text {
	font-size: 30px;
	color: #e65100;
}

.search-table-text i {
	margin-right: 5px;
}

.search-table-input {
	font-size: 40px;
    width: 65px;
    text-align: center;
    margin-left: 10px;
    border: 1px solid #888;
}

.search-table-input:focus {
	outline: 2px solid #e65100;
}