<div class="page-title">
	<h5>{{ pageTitle }}</h5>
</div>

<div class="container">
	<div class="row">
		<div class="col s3">
			<div class="normal-box search-box">
				<p class="box-title">Search Order</p>
		        <p>
		        	<input name="status" type="radio" id="all" ng-model="status" value="All">
		        	<label for="all">All</label>
		        </p>
		        <p>
		        	<input name="status" type="radio" id="paid" ng-model="status" value="Paid">
		        	<label for="paid">Paid</label>
		        </p>
		        <p>
		        	<input name="status" type="radio" id="unpaid" ng-model="status" value="Unpaid">
		        	<label for="unpaid">Unpaid</label>
		        </p>
		        <p>
		        	<input name="status" type="radio" id="cancelled" ng-model="status" value="Cancelled">
		        	<label for="cancelled">Cancelled</label>
		        </p>
			</div>
		</div>
		<div class="col s9">
			<div class="normal-box">
				<table class="bordered menu-items-table">
			    	<thead>
			      		<tr>
			          		<th>Order Number</th>
			          		<th>Order Timestamp</th>
			          		<th>Menu Items</th>
			          		<th>Total Cost</th>
			          		<th>Status</th>
			          		<th>Action</th>
			      		</tr>
			    	</thead>
				    <tbody>
				    	<tr ng-repeat="order in orders | filter:filterData">
				    		<td>{{ order.orderNumber }}</td>
				    		<td>{{ order.timeStamp }}</td>
				    		<td class="order-icon">
				    			<a ng-click="showMenuItems(this)"><i class="material-icons">format_list_bulleted</i></a>
				    		</td>
				    		<td>{{ (order.totalCost | currency : "₱") }}</td>
				    		<td class="order-paid" ng-if="order.status == 'Paid'">
				    			<span class="new badge" data-badge-caption="{{ order.status }}"></span>
				    		</td>
				    		<td class="order-unpaid" ng-if="order.status == 'Unpaid'">
				    			<span class="new badge" data-badge-caption="{{ order.status }}"></span>
				    		</td>
				    		<td class="order-cancelled" ng-if="order.status == 'Cancelled'">
				    			<span class="new badge" data-badge-caption="{{ order.status }}"></span>
				    		</td>
				    		<td class="order-action">
				    			<a href="" ng-click="deleteOrder($index, order.orderNumber)" class="delete" ng-hide="order.status!='Cancelled'"><i class="material-icons">delete</i></a>
				    		</td>
				    	</tr>
				    </tbody>
			  	</table>
			</div>
		</div>
	</div>
</div>

<!-- Modal Structure -->
<div id="orderMenuItems" class="modal">
	<div class="modal-content">
		<h4>Order Menu Items</h4>
		<p>Order Number: {{ orderNumber }}</p>
		<p>Order Timestamp: {{ orderTimestamp }}</p>

		<div class="container menu-items-list">
			<table class="centered">
				<thead>
					<tr>
						<th>Item Name</th>
						<th>Price</th>
						<th>Quantity</th>
						<th>Total</th>
					</tr>
				</thead>
				<tr ng-repeat="item in menuItems">
					<td>{{ item.itemName }}</td>
					<td>{{ (item.itemPrice | currency: "₱") }}</td>
					<td>{{ item.quantity }}</td>
					<td>{{ (item.subTotal | currency: "₱") }}</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="modal-footer">
		<h5 class="order-total">Total: {{ (totalCost | currency: "₱") }}</h5>
	</div>
</div>