<aside class="sidebar">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<p class="site-logo"><img src="../../global-assets/img/logo.png" /></p>
			</div>
		</div>
	</div>
	<p class="label">Main Menu</p>
	<div class="side-menu">
		<ul class="menu-items">
			<a href="#!/" ng-click="changeActiveMenuItem('dashboard')">
				<li class="single-item {{dashboardActive}}">
					<span class="icon"><i class="material-icons">dashboard</i></span><span class="text">Dashboard</span>
				</li>
			</a>
			<a href="#!menu-items" ng-click="changeActiveMenuItem('menu-items')">
				<li class="single-item {{menuItemsActive}}">
					<span class="icon"><i class="material-icons">restaurant_menu</i></span><span class="text">Menu Items</span>
				</li>
			</a>
			<a href="#!orders" ng-click="changeActiveMenuItem('orders')">
				<li class="single-item {{ordersActive}}">
					<span class="icon"><i class="material-icons">format_list_numbered</i></span><span class="text">Orders</span>
				</li>
			</a>
			<a href="#!tables" ng-click="changeActiveMenuItem('tables')">
				<li class="single-item {{tablesActive}}">
					<span class="icon"><i class="material-icons">view_comfy</i></span><span class="text">Tables</span>
				</li>
			</a>
			<a href="#!logout" ng-click="changeActiveMenuItem('logout')">
				<li class="single-item logout">
					<span class="icon"><i class="material-icons">backspace</i></span><span class="text">Logout</span>
				</li>
			</a>
		</ul>
	</div>
</aside>