body {
	background-color: rgba(0, 0, 0, .87);
}

.login-container {
	background-color: #fff;
	width: 400px;
	height: auto;
	border-radius: 3px;
	margin: 100px auto 0;
	padding: 35px 20px 85px;
}

.icon-container {
	text-align: center;
	margin: 0;
}

.icon {
	width: 80%;
}

.helper {
	text-align: center;
	margin-top: 0;
}

.login-form {
	margin-top: 30px;
}

button[type=submit] {
	margin-top: 20px;
	float: right;
}