<div class="normal-box table-description">
	<div class="row">
		<div class="col s4">
			<img src="../global-assets/img/icon.png" class="icon-occupied" /><h4 class="table-occupied">Table {{ tableNumber }}</h4>
		</div>
		<div class="col s4" >
			<p class="time-occupied"><i class="material-icons">access_time</i> <span class="label">Time Occupied: </span><span>{{time}}</span></p>
		</div>
		<div class="col s4">
			<p class="cancel-order"><a class="waves-effect waves-light btn red darken-3" ng-click="cancelOrder()" ng-disabled="orderPayed == true || minutes >= 3 " ><i class="material-icons">close</i> <span>Cancel Order</span></a></p>
		</div>
	</div>
</div>

<div class="row make-order-boxes">
	<div class="col s2">
		<div class="normal-box search-box">
			<p class="box-title">Search Item</p>
			<div class="input-field">
          		<input id="itemName" name="itemName" type="text" ng-model="itemName">
          		<label for="itemName">Item Name</label>
	        </div>
	        <p>
	        	<input name="availability" type="radio" id="all" ng-model="availability" value="All">
	        	<label for="all">All</label>
	        </p>
	        <p>
	        	<input name="availability" type="radio" id="available" ng-model="availability" value="Available">
	        	<label for="available">Available</label>
	        </p>
	        <p>
	        	<input name="availability" type="radio" id="unavailable" ng-model="availability" value="Unavailable">
	        	<label for="unavailable">Unavailable</label>
	        </p>
		</div>
	</div>
	<div class="col s6">
		<div class="normal-box">
			<table class="bordered centered menu-items-table">
		    	<thead>
		      		<tr>
		          		<th>Item</th>
		          		<th>No. of Servings</th>
		          		<th>Price</th>
		          		<th>Status</th>
		          		<th>Action</th>
		      		</tr>
		    	</thead>
			    <tbody>
			    	<tr ng-repeat="menuItem in menuItems | filter:filterData">
			    		<td>{{ menuItem.itemName }}</td>
			    		<td>{{ menuItem.numberOfServings }}</td>
			    		<td>{{ (menuItem.itemPrice | currency : "₱") }}</td>
			    		<td class="item-available" ng-if="menuItem.availability=='Available'"><span class="new badge" data-badge-caption="{{ menuItem.availability }}"></span></td>
			    		<td class="item-unavailable" ng-if="menuItem.availability=='Unavailable'"><span class="new badge" data-badge-caption="{{ menuItem.availability }}"></span></td>
			    		<td class="item-icons">
			    			<a class="waves-effect waves-light btn orange darken-4" ng-hide="menuItem.availability=='Unavailable'" ng-click="addItem(this)" ng-disabled="menuItem.buttonDisabled || orderPayed == true">Add</a>
			    		</td>
			    	</tr>
			    </tbody>
		  	</table>
		</div>
	</div>
	<div class="col s4">
		<div class="normal-box">
			<p class="box-title">Your Order</p>
			<div class="divider first-divider"></div>
			<div ng-show="itemsAdded == 0">
				<p>No items in your order yet.</p>
			</div>
			<div class="row" ng-repeat="addedMenuItem in addedMenuItems">
				<div class="col s8">
					<span ng-hide="orderPayed == true">
					<a href="" ng-click="removeItem(this, $index)" class="remove-item" title="Remove Item"><i class="material-icons"
						>close</i></a></span>
					<p class="order-entry">{{ addedMenuItem.itemName + " x " + addedMenuItem.quantity }}</p>

					<div class="controls" ng-hide="orderPayed == true">
						<a href="" ng-click="decreaseQuantity(this, $index)"><i class="material-icons">remove</i></a>
						<a href="" ng-click="increaseQuantity(this)"><i class="material-icons">add</i></a>
					</div>
				</div>
				<div class="col s4">
					<p class="order-subtotal">{{ addedMenuItem.subTotal | currency : "₱" }}</p>
				</div>
			</div>
			<div class="row confirm-order-row">
				<div class="col s12">
					<div class="divider"></div>
					<h6 class="total">Total: {{ total | currency : "₱" }}</h6>
					<p class="confirm-order">
						<span ng-show="orderPayed == false">
							<a class="waves-effect waves-light btn pay-order-btn" ng-disabled="noItemOrdered()" ng-click="openPaymentModal()">Pay Order</a>
						</span>
						<span ng-show="orderPayed == true" class="order-payed">
							Order Paid!
						</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Structure -->
<div id="payOrder" class="modal">
	<form id="addItemForm" name="addItemForm">
		<div class="modal-content">
			<h4>Pay Order</h4>

			<div class="row">
				<div class="col s5">
					<p class="centered"><img src="../global-assets/img/receipt.png" class="receipt-image" /></p>
				</div>
				<div class="col s7">
					<h6>Order Summary:</h6>
					<div class="row" ng-repeat="addedMenuItem in addedMenuItems">
						<div class="col s6">
							<p class="order-entry">{{ addedMenuItem.itemName + " x " + addedMenuItem.quantity }}</p>
						</div>
						<div class="col s6">
							<p class="order-subtotal">{{ addedMenuItem.subTotal | currency : "₱" }}</p>
						</div>
					</div>
					<div class="divider"></div>
					<h6 class="total">Total: {{ total | currency : "₱" }}</h6>
					<div class="divider"></div>
					<h6>Amount to Pay:</h6>
					<div class="input-field">
		          		₱ <input id="last_name" type="number" class="validate browser-default" ng-model="amountToPay" ng-init="amountToPay = 0" ng-click="amountToPay = ''">
			        </div>
			        <br />
			        <h6>Your Change:</h6>
			        <span ng-hide="amountToPay < total">₱ {{ amountToPay - total | number : 2}}</span>
				</div>
			</div>

		</div>
		<div class="modal-footer">
			<a class="waves-effect waves-light btn orange darken-4" ng-click="payOrder()" ng-disabled="amountToPay < total" type="button">Pay</a>
			<a class="waves-effect waves-light btn" type="button" ng-click="cancelPayment()">Cancel</a>
		</div>
	</form>
</div>