<div class="page-title">
	<h5>{{ pageTitle }}</h5>
</div>

<div class="container" ng-show="addSuccess == true">
	<div class="row">
		<div class="col s12">
			<div class="normal-box">
				<p class="label success-label"><span><i class="material-icons">check</i> Successfully Added Table</span><i class="material-icons right close-add-success" ng-click="addSuccess = false">close</i></a></p>			
			</div>		
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col s3">
			<div class="normal-box search-box">
				<p class="box-title">Search Table</p>
				<div class="input-field">
	          		<input id="tableNumber" name="tableNumber" type="text" ng-model="tableNumber" ng-change="tableNumber = preventNonNumbers(tableNumber)">
	          		<label for="tableNumber">Table Number</label>
		        </div>
		        <div class="input-field">
	          		<input id="tableCapacity" name="tableCapacity" type="text" ng-model="tableCapacity" ng-change="tableCapacity = preventNonNumbers(tableCapacity)">
	          		<label for="tableCapacity">Capacity</label>
		        </div>
		        <p>
		        	<input name="status" type="radio" id="all" ng-model="status" value="All">
		        	<label for="all">All</label>
		        </p>
		        <p>
		        	<input name="status" type="radio" id="vacant" ng-model="status" value="Vacant">
		        	<label for="vacant">Vacant</label>
		        </p>
		        <p>
		        	<input name="status" type="radio" id="occupied" ng-model="status" value="Occupied">
		        	<label for="occupied">Occupied</label>
		        </p>
			</div>
		</div>
		<div class="col s9">
			<div class="normal-box">
				<table class="bordered menu-items-table">
			    	<thead>
			      		<tr>
			          		<th>Table Number</th>
			          		<th>Capacity</th>
			          		<th>Status</th>
			      		</tr>
			    	</thead>
				    <tbody>
				    	<tr ng-repeat="table in tables | filter:filterData">
				    		<td>{{ table.tableNumber }}</td>
				    		<td>{{ table.capacity }}</td>
				    		<td class="table-vacant" ng-if="table.status == 'Vacant'">
				    			<span class="new badge" data-badge-caption="{{ table.status }}"></span>
			    			</td>
			    			<td class="table-occupied" ng-if="table.status == 'Occupied'">
				    			<span class="new badge" data-badge-caption="{{ table.status }}"></span>
			    			</td>
				    	</tr>
				    </tbody>
			  	</table>
			</div>
		</div>
	</div>
</div>

<a class="btn-floating btn-large waves-effect waves-light orange darken-4 modal-trigger" data-target="addTable">
	<i class="material-icons">add</i>
</a>

<!-- Modal Structure -->
<div id="addTable" class="modal">
	<form id="addTableForm" name="addTableForm">
		<div class="modal-content">
			<h4>Add Table</h4>
			<p>Fill out the fields below with the information of the new table.</p>
			
			<div class="row">
				<div class="col s6">
					<div class="input-field">
			  			<input id="tableNumber" type="number" ng-model="newTableNumber" ng-pattern="/^([0-9][1-9])|([1-9][0-9])$/" name="newTableNumber" required>
			      		<span class="red-text error-message" ng-show="addTableForm.newTableNumber.$error.pattern">Must exactly 2 numbers</span>
			      		<label for="tableNumber">Table Number</label>
					</div>
					<div class="input-field">
			  			<input id="tableCapacity" type="number" ng-model="newTableCapacity" ng-pattern="/^[1-9][0-9]?$/" name="newTableCapacity" required>
			  			<span class="red-text error-message" ng-show="addTableForm.newTableCapacity.$error.pattern">Must be greater than 0 and exceed 99</span>
			      		<label for="tableCapacity">Table Capacity</label>
					</div>
				</div>
				<div class="col s6">
					<p class="add-table-image"><img src="assets/img/table.png"/></p>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a class="waves-effect waves-light btn orange darken-4" type="button" ng-click="createTable()">Create</a>
		</div>
	</form>
</div>