<!DOCTYPE html>
<html>
<head>
	<title>Marleh's Restaurant</title>
	<script type="text/javascript" src="../global-assets/libs/angular/angular.min.js"></script>
</head>

<!-- 
	Server side check via angular if signed-in or not
		if(signed-in)
			redirect to admin-panel module
		else
			redirect to sign-in module
-->
<body ng-app="myApp" ng-controller="myController">
	{{ loginRedirection() }}
	<script type="text/javascript" src="app.module.js"></script>
</body>
</html>