<!DOCTYPE html>
<html>
<head>
	<title>Login to Admin Panel</title>

	<!-- Materialize Library -->
	<link rel="stylesheet" type="text/css" href="../../global-assets/libs/materialize/css/materialize.min.css" />

	<!-- Materialize Icons -->
	<link rel="stylesheet" type="text/css" href="../../global-assets/css/materialize-icons.css" />

	<!-- General/Overall CSS -->
	<link rel="stylesheet" type="text/css" href="../../global-assets/css/general.css" />

	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="assets/css/style.css" />

	<!-- Angular Library -->
	<script type="text/javascript" src="../../global-assets/libs/angular/angular.min.js"></script>
</head>

<body>
	<div class="container" ng-app="myApp" ng-controller="myController">
		<div class="login-container">
			<p class="icon-container"><img class="icon" src="../../global-assets/img/logo.png" /></p>
			<h5 class="helper">Admin Login</h5>

			<form class="login-form">
				<div class="input-field">
	          		<input id="userName" ng-model="username" name="userName" type="text" class="validate" autocomplete="off">
	          		<label for="userName">Username</label>
		        </div>
		        <div class="input-field">
	          		<input id="passWord" ng-model="password" name="passWord" type="password" class="validate" autocomplete="off">
	          		<label for="passWord">Password</label>
		        </div>
		        <button class="btn waves-effect waves-light orange darken-4" ng-click="verifyUser()" type="submit" name="action">
		        	Login <i class="material-icons right">send</i>
			  	</button>
			</form>
		</div>
	</div>

	<!-- JQuery Library -->
	<script type="text/javascript" src="../../global-assets/libs/jquery/jquery-3.2.1.min.js"></script>


	<!-- Materialize Library -->
	<script type="text/javascript" src="../../global-assets/libs/materialize/js/materialize.min.js"></script>

	<!-- Angular Application -->
	<script type="text/javascript" src="app/app.module.js"></script>
</body>
</html>