<div class="normal-box single-table">
	<p class="icon"><img src="../global-assets/img/icon.png" /></p>

	<h1 class="number">Table {{ tableNumber }}</h1>
	<h5 class="capacity">{{ tableCapacity }} persons</h5>
	<p class="occupy-button"><a class="waves-effect waves-light btn orange darken-4" href="#!make-order">Occupy</a></p>
</div>