<header class="site-header" >
    <span><img src="../global-assets/img/logo.png" class="site-logo" /></span>
    <ul class="pull-right site-time">
        <span> {{ clock | date:'MMMM dd, yyyy'}} | {{ clock | date:'hh:mm a'}}</span>
    </ul>
</header>