.outer-container {
	margin-top: 30px;
}

.single-table {
	width: 50%;
	margin: 0 auto;
}

.single-table .icon {
	text-align: center;
	margin-bottom: 0;
}

.single-table .icon img {
	width: 150px;
}

.single-table .number {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 0;
}

.single-table .capacity {
	text-align: center;
	margin-top: 0;
	margin-bottom: 30px;
	color: #2bbbad !important;
}

.single-table .occupy-button {
	text-align: center;
}

.single-table .occupy-button a {
	width: 50%;
}

.table-description .row {
	margin-bottom: 0;
}

.cancel-order {
	text-align: right;
}

.cancel-order span {
	position: relative;
	bottom: 4px;
}

.icon-occupied {
	width: 50px;
	margin-right: 8px;
	margin-top: 8px;
	float: left;
}

.table-occupied {
	margin-bottom: 0;
}

.time-occupied {
	text-align: center;
	margin-bottom: 0;
}

.time-occupied i {
	position: relative;
	top: 5px;
}

.time-occupied .label {
	font-weight: 500;
}

.make-order-boxes {
	margin-top: 20px;
}

.item-available span {
	background-color: #6cc788 !important;
	float: none !important;
	padding: 5px 8px !important;
}

.item-unavailable span {
	background-color: #f77a99 !important;
	float: none !important;
	padding: 5px 8px !important;
}

.make-order-boxes .title {
	text-align: center;
}

.box-title {
	font-weight: 700;
}

.remove-item {
	float: left;
	margin-right: 10px;
	color: #f77a99;
}

.order-entry {
	margin-top: 0;
	margin-bottom: 0;
}

.order-subtotal {
	margin-top: 0;
	margin-bottom: 0;
	text-align: right;
}

.controls a {
	margin-left: 5px;
	margin-right: 5px;
}

.first-divider {
	margin-bottom: 20px;
}

.total {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: right;
	font-size: 20px;
}

.confirm-order-row {
	margin-bottom: 0;
}

.confirm-order {
	margin-bottom: 0;
}

.confirm-order a {
	width: 100%;
}

.receipt-image {
	width: 100%;
}

.order-payed {
	display: block;
	text-align: center;
	color: #6cc788 !important;
	font-size: 32px;
}
